.main-section{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    height: 95vh;
}

.login-form{
    box-shadow: rgb(235 235 235) 0px 0px 10px;
    border-radius: 10px;
    padding: 5% 5%;
    text-align: center;
    width: 100% !important;
    margin: 0 auto !important;
}
